@import "./variables.scss";
@import "./nav.scss";

body{
    background: $background-blue;
    margin: 0px;
    color: $primary-white;
    font-family: $roboto;
}


#siteDescription{

    background: $secondary-blue;

}


