
@import url('https://fonts.googleapis.com/css?family=Heebo|Roboto');


//main colours
$background-blue: #D8EBF3;
$nav-blue: #52A5CC;
$secondary-blue: #3B76AD;
$primary-white: #EBF5F9;
$button-orange: #FE6D43;

//testing colours for profile page
$primary-purple: #C066A8;
$secondary-purple: #B779BB;
$third-purple: #C3588B;

$roboto: 'Roboto', sans-serif;
$heebo: 'Heebo', sans-serif;