
@import url('https://fonts.googleapis.com/css?family=Heebo|Roboto');


//main colours
$background-blue: #D8EBF3;
$nav-blue: #52A5CC;
$secondary-blue: #3B76AD;
$primary-white: #EBF5F9;
$button-orange: #FE6D43;
$secondary-white: #D2DCE0;

//testing colours for profile page
$primary-purple: #C066A8;
$secondary-purple: #B779BB;
$third-purple: #C3588B;
$faint-pink: #FCE9EE;

//test colours for moods
$very-happy: #03EE31;
$happy: #5CF640;
$upbeat: #9AFF36;
$ok: #FAFF09;
$other: #FFE71F;
$anxious: #FFCF34;
$unhappy: #FF6D19;
$sad: #DD3B17;
$very-sad: #BA1414;



$roboto: 'Roboto', sans-serif;
$heebo: 'Heebo', sans-serif;

